source/projectAsincronoIoT/asincrono(morritti).json
[{"id":"2896f7dd.dac028","type":"tab","label":"SmartPCounterMqttProject","disabled":false,"info":""},{"id":"faf5b4e4.2d57c8","type":"mqtt in","z":"2896f7dd.dac028","name":"","topic":"/lavatricelove","qos":"0","datatype":"utf8","broker":"cd0b6d3a.2b38a","x":110,"y":460,"wires":[["96129b5d.69d0b8"]]},{"id":"d0ec8110.aa1c5","type":"mosca in","z":"2896f7dd.dac028","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":230,"y":60,"wires":[[]]},{"id":"4bf15084.3b6a4","type":"counter","z":"2896f7dd.dac028","name":"","init":"0","step":"0","lower":"0","upper":"300","mode":"increment","outputs":1,"x":620,"y":460,"wires":[["16e894f1.b0795b","eab68139.3c9e1","bc96846d.6c0f88"]]},{"id":"96129b5d.69d0b8","type":"function","z":"2896f7dd.dac028","name":"mqttSendCount","func":"\n\nif(msg.topic == \"piu\" || msg.topic == \"/lavatricelove\"){\n    msg.increment = 1;\n}else if(msg.topic == \"meno\"){\n    msg.decrement = 1;\n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["4bf15084.3b6a4"]]},{"id":"f302f41e.d7a668","type":"ui_button","z":"2896f7dd.dac028","name":"","group":"79362935.d2b818","order":1,"width":2,"height":2,"passthru":false,"label":"-1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"meno","x":110,"y":520,"wires":[["96129b5d.69d0b8"]]},{"id":"63bb905a.93026","type":"ui_button","z":"2896f7dd.dac028","name":"","group":"480d1e8d.d59cb","order":1,"width":2,"height":2,"passthru":false,"label":"+1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"piu","x":110,"y":400,"wires":[["96129b5d.69d0b8"]]},{"id":"16e894f1.b0795b","type":"function","z":"2896f7dd.dac028","name":"sendTelegramMsg","func":"\nvar limit = 300;\ncount = msg.count;\nvar i = limit - count;\n\n\nswitch(i){\n    case 150 : \n        msg.payload = \"Ragiunta la metà della capienza massima\";\n        break;\n    case 100:\n        msg.payload = \"Attenzione! 100 persone alla capienza stabilita\";\n        break;\n    case 50:\n        msg.payload = \"ATTENZIONE! 50 persone alla capienza stabilita\";\n        break;\n    case 25:\n        msg.payload = \"SOLO 25 PERSONE ALLA CAPIENZA!\";\n        break;\n    case 10:\n        msg.payload = \"-10 INTERVIENI IMMEDIATAMENTE SUL POSTO\";\n        break;\n    case 0:\n        msg.payload = \"CAPIENZA MASSIMA RAGGIUNTA\";\n        break;\n    default:\n        msg.payload = null;\n        break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["572c5435.4bbc0c"]]},{"id":"e8869108.70fd9","type":"chatbot-telegram-receive","z":"2896f7dd.dac028","bot":"d55a710.529569","botProduction":"","x":350,"y":320,"wires":[["4bf15084.3b6a4","66491092.b669e"]]},{"id":"572c5435.4bbc0c","type":"chatbot-conversation","z":"2896f7dd.dac028","name":"","botDevelopment":"d55a710.529569","botProduction":"","chatId":"706346514","userId":"","transport":"telegram","store":"43dea38c.08c07c","x":810,"y":540,"wires":[["b3c1bcb9.e96e1"]]},{"id":"b3c1bcb9.e96e1","type":"chatbot-message","z":"2896f7dd.dac028","name":"","message":[""],"language":"none","x":990,"y":540,"wires":[["8c0f5acf.73ed28"]]},{"id":"22fb4cc9.93aac4","type":"comment","z":"2896f7dd.dac028","name":"README","info":"# Smart P. Counter 2.0\nConta le persone in entrata grazie all'utilizzo di un sensore ultrasonico piazzato al lato di una porta.\nOgni volta che il sensore viene attraversato viene inviato un \"1\" via mqtt a node red che si occuperà di aggiornare il contatore.</br>\nI dati totali del conteggio sono visualizzati all'interno di una dashboard e inoltre vengono inviati via mqtt a uno schermo OLED collegato ad Arduino.</br></br>\nIl sistema si integra anche con un bot telegram che manda dei messaggi all'avvicinarsi della capienza massima consentita, in modo tale che chi si occupa della sicurezza\npuò intervenire sul posto. </br></br>\nIl bot si chiama SmartPCounterProjectIoT\n\n## Configurazione:\nPer far funzionare il tutto bisogna eseguire la seguente configurazione:\n * Avviare il bot _SmartPCounterProjectIoT_\n * Inviare il comando /chatid al bot\n * Il bot restituirà il tuo chatId\n * Aprire Node-Red\n * Aprire il nodo Conversation\n * Riempiere il campo _chatId_ con il proprio chatId\n * Ecco ora il bot è Funzionante!\n\n## Nodi utilizzati\n - node-red-contrib-chatbot\n - node-red-contrib-counter \n - node-red-contrib-mqtt-broker\n - node-red-dashboard\n \n##  Librerie Arduino Utilizzate\n * Grove Ultrasonic Ranger per la gestione del sensore ultrasonico\n * Adafruit SSD1306 per la gestione dello schermo OLED\n * Adafruit GFX per la gestione delle componenti grafiche dell'OLED\n * WiFiNINA per la gestione dell'antena WiFi\n\n\n### Note Finali\nho scelto 100cm come valore standard della larghezza di una porta ma ovviamente può essere modificato\n\nSono consapevole del fatto che l'applicativo conta solo persone in entrata ma in mancanza di un secondo sensore ultrasonico non ho potuto implementare anche il conteggio dell'uscita, cosa comunque semplice da fare!\n\n_last update 07/10/2020_\n\n\n\n","x":820,"y":100,"wires":[]},{"id":"58fedefe.48335","type":"mqtt out","z":"2896f7dd.dac028","name":"","topic":"/lavatricelove1","qos":"","retain":"","broker":"cd0b6d3a.2b38a","x":1100,"y":460,"wires":[]},{"id":"bc96846d.6c0f88","type":"function","z":"2896f7dd.dac028","name":"sendMqttCount","func":"msg.payload = msg.count\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":460,"wires":[["58fedefe.48335"]]},{"id":"8c0f5acf.73ed28","type":"chatbot-telegram-send","z":"2896f7dd.dac028","bot":"d55a710.529569","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":1170,"y":540,"wires":[]},{"id":"eab68139.3c9e1","type":"ui_gauge","z":"2896f7dd.dac028","name":"","group":"258a4da.8d016b2","order":0,"width":"6","height":"6","gtype":"donut","title":"TOTALE","label":"PEOPLE","format":"{{msg.count}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":400,"wires":[]},{"id":"66491092.b669e","type":"switch","z":"2896f7dd.dac028","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/chatid","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":320,"wires":[["f5bcbd47.c9ff9"]]},{"id":"f5bcbd47.c9ff9","type":"chatbot-message","z":"2896f7dd.dac028","name":"","message":[{"message":"Ecco il tuo chatId: {{payload.chatId}}"}],"language":"none","x":690,"y":320,"wires":[["389cf1e3.7eac6e"]]},{"id":"389cf1e3.7eac6e","type":"chatbot-telegram-send","z":"2896f7dd.dac028","bot":"d55a710.529569","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":890,"y":320,"wires":[]},{"id":"cd0b6d3a.2b38a","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"79362935.d2b818","type":"ui_group","z":"","name":"","tab":"e614fabe.d9ca88","order":1,"disp":true,"width":"2","collapse":false},{"id":"480d1e8d.d59cb","type":"ui_group","z":"","name":"","tab":"e614fabe.d9ca88","order":4,"disp":true,"width":"2","collapse":false},{"id":"d55a710.529569","type":"chatbot-telegram-node","z":"","botname":"SmartPCounterIoTProject_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"43dea38c.08c07c","type":"chatbot-context-store","z":"","name":"first","contextStorage":"memory","contextParams":""},{"id":"258a4da.8d016b2","type":"ui_group","z":"","name":"SMART P. COUNTER 2.0","tab":"e614fabe.d9ca88","order":2,"disp":true,"width":"6","collapse":false},{"id":"e614fabe.d9ca88","type":"ui_tab","z":"","name":"IoT Asynchronous Project","icon":"dashboard","order":1,"disabled":false,"hidden":false}]